<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Info!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p>This is @Model.TriangleDescription() triangle.</p>
  </body>
</html>
